.button {
  @include typography($lekton, $medium, $f-regular, $white);
  background-color: transparent;
  border:1px solid $white;
  padding: 1em 3em;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  &:hover{
    color: $dark-black;
    font-weight: $f-bold;
    background-color: $white;
  }
}
