//Breakpoints
$min-tablet: 768px;
$min-laptop: 992px;


//Typography

//Fontface
$lekton: 'Lekton', sans-serif;

//Font size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Font weight
$f-bold: 700;
$f-regular: 400;


//Color scheme
$white: #FFF;
$dark-black: #121619;
$deep-gray: #222323;
