.gallery {
  background-color: $deep-gray;
  &__header {
    padding: 4rem 3rem;
    h2 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }
  @include screen-view($min-tablet) {
    &__header {
      padding: 3rem 5rem;
      h2 {
        text-align: left;
      }
    }
    &__body {
      height: 100vh;
      display: flex;
      flex-flow: row wrap;
      & .gallery-item {
        flex-grow: 1;
        flex-basis: 50vw;
        height: 33.33vh;
      }
    }
  }
  @include screen-view($min-laptop) {
    &__header {
      padding: 4rem 9rem;
      p {
        max-width: 50rem;
      }
    }
    &__body {
      height: 100vh;
      display: flex;
      flex-flow: row wrap;
      & .gallery-item {
        flex-grow: 1;
        flex-basis: 30vw;
        height: 50vh;
      }
    }
  }
}
