.header {
  height: 100vh;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  @include screen-view($min-tablet) {
    display: flex;
    align-items: flex-end;
    padding: 7rem 9rem;
    &__content {
      width: 30rem;
      p {
        text-align: justify;
        margin-bottom: 1.75rem;
      }
    }
  }
  @include screen-view($min-laptop) {
    display: flex;
    align-items: flex-end;
    padding: 7rem 9rem;
    &__content {
      width: 30rem;
      p {
        text-align: justify;
        margin-bottom: 1.75rem;
      }
    }
  }
}
